// Aspect ratios

.ratio-16-9 {
  @include aspect-ratio(100, 56);
}

.ratio-square {
  @include aspect-ratio(100, 100);
}

.ratio-card {
  @include aspect-ratio(100, 80);
}

.ratio-poster {
  @include aspect-ratio(100, 150);
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

//buttons

.btn {
  // background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-black {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 10px;
}

.btn-black:hover {
  background-color: #555555;
  color: white;
}

//inputs
.input-big[type='text'] {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 10px;
}

.input-big[type='text']:focus {
  border: 3px solid #555;
}

//width
.w-50prec {
  width: 50%;
}

//form
// .form-width {
//   margin: auto;
//   max-width: 55%;
// }
